* {
    margin: 0;
    padding: 0;
}

* h2 {
    padding-bottom: 4px;
}

.fundo {
    background-image: linear-gradient(45deg, black, rgb(0, 255, 255));
    height: 100vh;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;   
    text-align: center; 
}

.calculadora {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.753);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 13px;
}

* button {
    width: 50px;
    height: 50px;
    margin: 0.5px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(36, 117, 128);
    border: none;
    color: #fff;
}

* button:hover {
    background-color: rgb(21, 169, 196);
}

.bott1 {
    height: 103px;
    border-bottom-right-radius: 5px;
}

.bott2 {
    width: 103px;
    border-bottom-left-radius: 5px;
}

#resultado {
    background: #fff;
    width: 206px;
    height: 35px;
    margin: 3px;
    padding-top: 5px;
    padding-right: 2px;
    font-size: 29px; 
    text-align: right;   
    color: #000;
    overflow: hidden;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}